{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>3.2. Sitio Web sencillo</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/eE02Eb7yj3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   
  </div>
</div>

{% endblock %}
